.container-fluid {
  width: 85%; 
  margin: 0 auto;
  margin-top: 20px;
}

.movie-app {
  background-color: #f5f5f5;
  padding: 20px;
}

.row {
  margin-bottom: 20px;
}

h1 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.image-container {
  position: relative;
  margin-right: 10px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.image-container:hover {
  transform: scale(1.05);
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border-radius: 15px;
  transition: background-color 0.3s ease;
}

.overlay:hover {
  background-color:crimson;
}

.overlay svg {
  width: 24px;
  height: 24px;
  fill: red;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.overlay:hover svg {
  transform: scale(1.2);
  fill: white;
}

.form-control {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease;
}

.form-control:focus {
  border-color: dodgerblue;
}


